/* POSTING */
.posting-container .posting-top {
  padding: 20px 0;
  justify-content: space-between;
}
.sort {
  gap: 24px;
  cursor: pointer;
}
.sort span.active {
  color: var(--primary-color);
  font-weight: bold;
}
.posting-container .posting-box {
  margin-bottom: 46px;
}
.posting-container .posting-image {
  height: 210px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}
.posting-container .posting-image img {
  object-fit: cover;
  object-position: center;
}
.posting-container .posting-title {
  text-align: center;
}
.posting-container .profile-box {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.posting-container .profile-box .profile-image {
  width: 24px;
  height: 24px;
  overflow: hidden;
  border-radius: 50%;
}
.posting-container .profile-box .profile-image img {
  object-fit: cover;
}
.posting-container .profile-box .profile-nickname {
  font-size: 12px;
  color: #757575;
}

/* DATIL */
.post-detail > section:last-of-type {
  padding-bottom: 56px;
}
.detail__cover-image {
  width: 100%;
  height: 42vh;
  overflow: hidden;
}
.detail__cover-image img {
  object-fit: cover;
  object-position: center;
}
.detail__container .inner {
  padding-top: 28px;
}
.detail__container .category {
  font-size: 12px;
  color: #757575;
  margin-bottom: 8px;
}
.detail__container .posting-title {
  text-align: left;
  margin-bottom: 14px;
}
.detail--profile {
  display: flex;
  gap: 12px;
  margin-bottom: 32px;
}
.detail--profile__image {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
}
.detail--profile__image > img {
  object-fit: cover;
  height: inherit;
}
.detail--profile .detail--profile__name {
  font-size: 14px;
}
.detail--profile .detail--profile__name span {
  display: block;
}
.detail--profile .detail--profile__name .detail--profile-nickname {
  font-size: inherit;
  line-height: 1.4;
}
.detail--profile .detail--profile-date {
  font-size: inherit;
  color: #757575;
}
.detail__post-content .post-content {
  line-height: 1.5;
  font-size: 14px;
}

/* WRITE */
.post-form .cover-image__wrapper {
  background-color: #F7F8FA;
  padding-bottom: 32px;
}
.cover-image__wrapper .cover-image {
  display: none;
}
.info__wrapper {
  padding-top: 40px;
  color: #828C94;
  text-align: center;
}
.info__wrapper .info-title {
  font-size: 16px;
  color: inherit;
  display: block;
  margin-bottom: 8px;
}
.info__wrapper .info-content {
  font-size: 12px;
  color: inherit;
}
.file-re-upload-wrapper.btn {
  display: none;
  width: 150px;
  margin: 24px auto 0;
}
.file-upload-wrapper.btn {
  width: 150px;
  margin: 24px auto 0;
}

.title-wrapper {
  position: relative;
  height: 50px;
  border-bottom: 1px solid #DFDFDF;
}
.title-wrapper .title-input {
  height: inherit;
  border: 0;
  width: 100%;
}
.title-wrapper .word-count {
  position: absolute;
  right: 16px;
  font-size: 14px;
  color: #828C94;
}
textarea.content-input {
  resize: none;
  min-height: 200px;
}
